@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&family=Satisfy&family=Square+Peg&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
}

body{
    background: #fff;
    color: darkblue;
    font-family: 'Oswald', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: 0.3s;
}

header.sticky{
    background: rgba(225, 220, 220, 0.999);
    padding: 10px 18%;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    font-size: 15px;
    color: inherit;
    font-weight: 500px;
    padding: 10px 27px;
}

section{
    padding: 100px 18%;
}

.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap:4rem;
}
.home-text h2{
   margin: 10px 0px 25px;
   font-size: 2.5rem;
   line-height: 1;
   font-weight: 500;
}
.home-text h6{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}
.home-text h4{
    color: blue;
    font-size: 20px;
    font-weight: 500;
}
.home-text p{
    font-size: 1.1rem;
    color: aliceblue;
    line-height: 28px;
    margin-bottom: 20px;
}
.aboutBtn{
    display: inline-block;
    background: rgb(110, 234, 248);
    font-size: 1.1rem;
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.social a{
   width: 34px;
   height: 34px;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: #fff;
   font-size: 16px;
   margin-right: 22px;
   margin-bottom: 30px;
}
.home-img{
    position: relative;
    padding-left: 20px;
}
.home-img img{
    max-width: 100%;
    width:200px;
    height: auto;
    border-radius: 50%;
}
.box .circle{
    position: absolute;
    background: rgb(0, 229, 255);
    opacity: 0.3;
    border-radius: 50%;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate{
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}
.box .circle:nth-child(1){
    top: -50px;
    right: 140px;
    width: 100px;
    height: 100px;
}
.box .circle:nth-child(2){
    top: 25px;
    right: 330px;
    width: 55px;
    height: 55px;
    z-index: 2;
}
.box .circle:nth-child(3){
    top: 50px;
    right: 215px;
    width: 80px;
    height:80px;
    
}
.box .circle:nth-child(4){
    top: -100px;
    right: 240px;
    width: 30px;
    height:30px;
    background: rgba(255, 0, 21, 0.374);
}
.box .circle:nth-child(5){
    top: 150px;
    right: 250px;
    width: 50px;
    height:50px;
}
.box .circle:nth-child(6){
    top: 160px;
    right: 180px;
    width: 25px;
    height:25px;
    background: rgba(255, 0, 21, 0.661);
}
/* 
.home-img::before{
    content: '';
    position: absolute;
    bottom: 45%;
    right: 30%;
    width: 100px;
    height: 100px;
    background: rgb(0, 229, 255);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.3;
}
.home-img::after{
    content: '';
    position: absolute;
    bottom: 60%;
    right: 35%;
    width: 50px;
    height: 50px;
    background: rgb(0, 229, 255);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.3;
} */
.about{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem;
}
.about-img img{
    max-width: 100%;
    width: 940px;
    height: auto;
}
.about-text h2{
   font-family: 'Square Peg', cursive;
   font-size: 30px;
   font-weight: 400;
   margin: 8px 0px 25px;
   line-height: 1.1;
}

.about-text p{
    font-family: 'Edu TAS Beginner', cursive;
    max-width: 500px;
    font-size: 25px;
    color: #092165;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 45px;
}
.Portfolio{
    background:#f4f2f1;
}
.PortfolioHeading{
    text-align: center;
}
.PortfolioHeading h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 7px 0px 20px;
    line-height: 1.1;
}
.PortfolioHeading h6{
    font-family: 'Square Peg', cursive;
    color: darkblue;
    font-size: 35px;
    font-weight: 500;
}
.PortfolioHeading p{
    font-size: 15px;
    color: darkblue;
    line-height: 28px;
}
.portfolio-content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(450px, auto));
   grid-gap: 2rem;
   align-items: center;
   margin-top: 5rem;
   text-align: center;
   cursor: pointer;
}
.col{
    position: relative;
}

.col img{
    max-width: 100%;
    width: 900px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
}
.layer:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, #fedcd4);
}

.layer h3{
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: rgb(12, 35, 141);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}
.layer a{
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}

.layer:hover a{
    bottom: 20%;
    opacity: 1;
}
.layer:hover a:hover{
    color: #092165;
}
.layer:hover h3{
    top: 10%;
    opacity: 1;
}
.layer h5{
    position: absolute;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: rgb(9, 49, 82);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
    width: 60%;
}

.layer:hover h5{
    bottom: 45%;
    opacity: 1;
}

footer{
    position: absolute;
    width: 100%;
    background: #FEDDD4;
    background: -webkit-linear-gradient(top left, #FEDDD4, #00E6FF36);
    background: -moz-linear-gradient(top left, #FEDDD4, #00E6FF36);
    background: linear-gradient(to bottom right, #FEDDD4, #00E6FF36);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .footer-icon{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

}
footer .footer-icon li{
   list-style-type: none;
}
footer .footer-icon li a{
   font-size: 1em;
   color: darkblue;
   margin: 0 5px;
   display: inline-block;
   transition: 0.5s;
}
footer .footer-icon li a:hover{
    transform: translateY(-10px);
}
/* footer .footer-menu li a{
    font-size: 1em;
    color: darkblue;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
 }
 footer .footer-menu li a:hover{
    opacity: 1;
 } */
 footer p{
    font-family: 'Square Peg', cursive;
    font-weight: 500;
    color: darkblue;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
 }
/* footer .wave{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: url(wave.png);
    background-size: 1000px 100px;

}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
 */

@media (max-width: 1425px){
    header{
        padding: 16px 3%;
        transition: .3s;
    }
    header.sticky{
        padding: 10px 3%;
        transition: .3s;
    }
    section{
        padding: 70px 15%;
        transition: .3s;
    }
    .home-img img{
        position:static;

    }

}

@media(max-width: 800px){
    .home{
        grid-template-columns: 1fr;
        min-height: 130vh;
        grid-gap: 1rem;
    }
    .home-text{
        padding-top: 55px;
        text-align: center;
    }
    .home-img{
        text-align: center;
    }
    .box{
       top: 10px;
    }
    .box .circle{
        background-color: rgba(255, 0, 13, 0.694);
    }
    .portfolio-content{
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    
     }
     .about{
        text-align: center;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
     }
     .about .about-img{
        width: 300px;
        
     }
     .layer h3,.layer h5,.layer a{
        width: 75%;
        font-size: 10px;
     }
     .layer:hover h3,.layer:hover h5,.layer:hover a{
        width: 75%;
        font-size: 10px;
     }
}